body{
  background-color: gray;
  font-family: 'Questrial', sans-serif;
  margin: auto;

}

html{
  margin-bottom: 0;
}


nav{
  display: flex;
  justify-content: center;
  padding-top: .6%;
  margin: auto 0;

}


nav a{
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
  margin-right: 3.5vw;
  margin-left: 3.5vw;

}

@media screen and (min-width: 1921px) {
  nav a{
    font-size: 1vw;
  }
}


#post{
  display: flex;
  width: 75%;
  border: solid;
  margin: auto;
  margin-top: 4%;

}

#post2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#ipic{
  float: right;
  object-fit: contain;
  max-width: 80%;
}

#title{
  color: red;
}

#date{
  color: gray;
}

#author{
  color: blue;
}






/*  also above used to be .7vw

@media screen and (max-width: 1919px) {

  #det{
    font-size: 2vw;
  }

}

*/




#const{
  text-align: center;
  margin-top: 2%;
}

/*for centering logo at top*/
#logo{
  text-align: center;
  margin-bottom: 0;
}

/*for sizing of top logo*/
#logo img{
  width: 39%;
  max-width: 435px;
}


hr{
  height: 1px;
  width: 80%;
  border-color: black;
  margin-top: 1%;
}

#allc{
  height: auto;
  margin-right: 15%;
  margin-left: 15%;
  background-color: white;
  margin-bottom: 4%;
}
